@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(#1d201f, #f4f4f4);
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    position: relative;
}

section#login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden; /* Arredonda a borda da imagem */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.401);
    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease; /* representa a curva de velocidade em que a transição é realizada. ease: esse é o valor padrão e indica o efeito de transição com o início lento, durante rápido e no final, lento novamente; */
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: url(../imagens/pexels-adrienne-andersen-2237797.jpg) no-repeat left bottom;
    height: 200px;
    background-size: cover;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
    text-align: justify;
    padding: 5px;
}

form > div.campo {
    display: block;
    background-color: #1d201f;
    border: 2px solid #1d201f;
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    border-radius: 7px;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
    transform: translateY(-3px);
}

div.campo > input {
    background-color: #eaf0ee;
    font-size: 1em;
    width: calc(100% - 44.3px);
    height: 100%;
    padding: 4px;
    border: 0px;
    border-radius: 7px;
    transform: translateY(-13px);
}

div.campo >input:focus-within {
    background-color: white; /* Quando clicar dentro do campo e-mail ou senha, o background-color vai ficar branco */
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #525a57;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #cfd8d5;
    color: #1d201f;
}

div.campo > label {
    display: none;
}

form > a.botao {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 7px;
    background-color: #f4f4f4;
    color: #1d201f;
    text-align: center;
    font-size: 1em;
    border: 1px solid #1d201f;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover { 
    background-color: #cfd8d5;
}

form > a.botao > span {
    font-size: 1em;
    transform: translate(3px, 4px);
}