@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login { /* CONFIGURAÇÕES PARA TABLET */
        width: 70vw;
        height: 310px;
    }

    section#login > div#imagem {
        float: left;
        width: 45%;
        height: 100%;
        background-position: top right;
    }

    section#login > div#formulario {
        float: right;
        width: 55%;
    }

    div#formulario > p {
        margin: 10px 0px;
    }
}

@media screen and (min-width: 992px) {
    section#login { /* CONFIGURAÇÕES PARA DESKTOP */
        width: 900px;
        height: 360px;
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
        background-position: center;
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
        transform: translateY(14px);
    }

    div#formulario > h1 {
        font-size: 2em;
    }
    
    div#formulario > p {
        font-size: 1em;
        margin: 15px 0px;
    }
}

